:root {
  --v-font-family: 'Ubuntu', sans-serif;
  --v-font-family-secondary: 'Rubik', sans-serif;
  --v-theme-primary: '#ff6424';
  --v-theme-secondary: '#039333';
}

.form-border {
  border: 1px solid #B1B1B1;
}

.help-title {
  font-family: var(--v-font-family-secondary);
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0.01em;
  text-align: left;
  color: rgb(var(--v-theme-primary));
}

.small-label {
  font-family: var(--v-font-family-secondary);
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: rgb(var(--v-theme-primary));
}

.color-primary {
  color: rgb(var(--v-theme-primary));
}

body {
  font-family:  var(--v-font-family);
}

.h2 {
  font-family: var(--v-font-family-secondary);
}

/* Ocultar para telas menores que `md` */
@media (max-width: 959px) {
  .hidden-sm-and-down-custom {
    display: none !important;
  }
}

/* Ocultar para telas maiores que `sm` */
@media (min-width: 960px) {
  .hidden-md-and-up-custom {
    display: none !important;
  }
}